<div class="messages-panel">

  <section class="d-flex flex-column h-100"
           *ngIf="items; else noChat">
    <section>
      <ng-container *ngFor="let message of items">

        <div [ngClass]="{'ml-auto': self?.id === message?.user?.id}">

          <app-message-card [item]="message"></app-message-card>
        </div>

      </ng-container>
    </section>

  </section>
</div>

<section class="mt-auto">
  <app-message-input></app-message-input>
</section>

<ng-template #noChat>
  <section class="d-flex align-items-center justify-content-center h-100">
    <p class="mb-0 d-flex">Start chatting...</p>
  </section>
</ng-template>
