@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Thin.ttf") format("tff"),
    url("/assets/fonts/Poppins-Thin.tff") format("tff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-ThinItalic.ttf") format("tff"),
    url("/assets/fonts/Poppins-ThinItalic.tff") format("tff");
  font-weight: 100;
  font-style: italic;
}
// 200
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-LightItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-LightItalic.tff") format("tff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Light.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Light.tff") format("tff");
  font-weight: 200;
  font-style: normal;
}

// 300
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-LightItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-LightItalic.tff") format("tff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Light.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Light.tff") format("tff");
  font-weight: 300;
  font-style: normal;
}

// 400
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Regular.tff") format("tff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Italic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Italic.tff") format("tff");
  font-weight: 400;
  font-style: italic;
}

// 500
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-MediumItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-MediumItalic.tff") format("tff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Medium.tff") format("tff");
  font-weight: 500;
  font-style: normal;
}

//
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Regular.tff") format("tff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BoldItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-BoldItalic.tff") format("tff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Bold.tff") format("tff");
  font-weight: bold;
  font-style: normal;
}

// 600
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBoldItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-SemiBoldItalic.tff") format("tff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.tff2") format("tff2"),
    url("/assets/fonts/Poppins-SemiBold.tff") format("tff");
  font-weight: 600;
  font-style: normal;
}

// 900
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BlackItalic.tff2") format("tff2"),
    url("/assets/fonts/Poppins-BlackItalic.tff") format("tff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.tff2") format("tff2"),
    url("/assets/fonts/Poppins-Black.tff") format("tff");
  font-weight: 900;
  font-style: normal;
}
