<div class="profile user">


  <div class="user__avatar">
    <ng-container *ngIf="user?.avatar; else noAvatar">
      <img width="44px"
           height="44px"
           [src]="user?.avatar"
           alt="">
    </ng-container>

    <ng-template #noAvatar>
      <div class="user__avatar--empty">{{user?.name| uppercase | slice: 0:1}}</div>
    </ng-template>
  </div>

  <div>
    <p class="mb-0 user__name">{{user?.name}}</p>

    <p class="mb-0 user__email">{{user?.email}}</p>
  </div>

  <div class="ml-auto">
    <section>
      <div class="d-flex user__more "
           nz-dropdown
           [nzDropdownMenu]="menu"
           nzTrigger="click"
           [inlineSVG]="'/more.svg'"></div>
    </section>
  </div>

</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu
      nzSelectable>
    <li nz-menu-item>Edit profile</li>
    <li nz-menu-item
        (click)="logout()"
        nzDanger>Logout</li>
  </ul>
</nz-dropdown-menu>
